{deps, [
    {proper, ".*", {git, "https://github.com/manopapad/proper.git", "master"}}
]}.

{port_specs, [{"priv/jiffy.so", ["c_src/*.c"]}]}.

{port_env, [
    %% Link the spidermonkey library
    {".*", "CFLAGS", "$CFLAGS -g -Wall"},

    %% Make sure to link -lstdc++ on linux or solaris
    {"(linux|solaris)", "LDFLAGS", "$LDFLAGS -lstdc++"},

    %% OS X Leopard flags for 64-bit
    {"darwin9.*-64$", "CXXFLAGS", "-m64"},
    {"darwin9.*-64$", "LDFLAGS", "-arch x86_64"},

    %% OS X Snow Leopard flags for 32-bit
    {"darwin10.*-32$", "CXXFLAGS", "-m32"},
    {"darwin10.*-32$", "LDFLAGS", "-arch i386"},
	
    %% Windows
    {"win32", "CC", "cl.exe"},
    {"win32", "CXX", "cl.exe"},
    {"win32", "LINKER", "link.exe"},
    {"win32", "DRV_CXX_TEMPLATE", "$CXX /c $CXXFLAGS $DRV_CFLAGS $PORT_IN_FILES /Fo$PORT_OUT_FILE"},
    {"win32", "DRV_CC_TEMPLATE", "$CC /c $CFLAGS $DRV_CFLAGS $PORT_IN_FILES /Fo$PORT_OUT_FILE"},
    {"win32", "DRV_LINK_TEMPLATE", "$LINKER $PORT_IN_FILES $LDFLAGS $DRV_LDFLAGS /OUT:$PORT_OUT_FILE"},
    {"win32", "ERL_LDFLAGS", " /LIBPATH:$ERL_EI_LIBDIR erl_interface_md.lib ei_md.lib"},
    {"win32", "DRV_CFLAGS", "/Zi /D__WIN32__ /DWIN32 /DWINDOWS /D_WIN32 /DNT /MD /Ox $ERL_CFLAGS"},
    {"win32", "DRV_LDFLAGS", "$ERL_LDFLAGS /DLL"}	
]}.

{eunit_opts, [
    verbose,
    {report, {
        eunit_surefire, [{dir,"."}]
    }}
]}.

